.MapWrapper {
  display: flex;

}

.PageWrapper {
   display: flex;
}

.AdventureListDrawer {
  margin-top: calc(-100vh + 60px);
  padding-top: 0;
  padding-left: 0;
}

 .MapContainer {
   display: block;
   padding-left: 380px;
}

.MapElement {
  height: calc(100vh - 60px);
}

.InfoWindowImage {
  display: block;
  margin: auto;
  width: 200px;
  cursor: pointer;
}

.Loading {
  padding-top: 100px !important;
  margin: auto !important;
}

@media only screen and (max-width: 768px) {
  .AdventureListDrawer {
    display: none;
  }
  .MapContainer {
    padding-left: 0;
  }
}
